In [1]:
import pandas as pd
pd.options.display.max_columns=None

In [2]:
df = pd.read_csv(r'application_train.csv\application_train.csv')

In [4]:
df.shape

(307511, 122)

In [5]:
df.head(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,454500.0,"Spouse, partner",State servant,Secondary / secondary special,Married,House / apartment,0.035792,-16941,-1588,-4970.0,-477,NaN,1,1,1,1,1,0,Laborers,2.0,2,2,WEDNESDAY,16,0,0,0,0,0,0,Other,NaN,0.354225,0.621226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2536.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,1395000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.035792,-13778,-3130,-1213.0,-619,17.0,1,1,0,1,1,0,Accountants,3.0,2,2,SUNDAY,16,0,0,0,0,0,0,Business Entity Type 3,0.774761,0.724000,0.492060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-1562.0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,1530000.0,Unaccompanied,State servant,Higher education,Married,House / apartment,0.003122,-18850,-449,-4597.0,-2379,8.0,1,1,1,1,0,0,Managers,2.0,3,3,MONDAY,16,0,0,0,0,1,1,Other,NaN,0.714279,0.540654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-1070.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.0,1019610.0,33826.5,913500.0,Children,Pensioner,Secondary / secondary special,Married,House / apartment,0.018634,-20099,365243,-7427.0,-3514,NaN,1,0,0,1,0,0,NaN,2.0,2,2,WEDNESDAY,14,0,0,0,0,0,0,XNA,0.587334,0.205747,0.751724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.0,405000.0,20250.0,405000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.019689,-14469,-2019,-14437.0,-3992,NaN,1,1,0,1,0,0,Laborers,1.0,2,2,THURSDAY,8,0,0,0,0,0,0,Electricity,NaN,0.746644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-1673.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df['TARGET'].value_counts()

0    282686
1     24825
Name: TARGET, dtype: int64

In [7]:
df['TARGET'].value_counts(normalize=True)*100

0    91.927118
1     8.072882
Name: TARGET, dtype: float64

In [8]:
nuniques = df.apply(lambda col: col.nunique())
for i in pd.Series.iteritems(nuniques):
    print(i[0],':',i[1])

SK_ID_CURR : 307511
TARGET : 2
NAME_CONTRACT_TYPE : 2
CODE_GENDER : 3
FLAG_OWN_CAR : 2
FLAG_OWN_REALTY : 2
CNT_CHILDREN : 15
AMT_INCOME_TOTAL : 2548
AMT_CREDIT : 5603
AMT_ANNUITY : 13672
AMT_GOODS_PRICE : 1002
NAME_TYPE_SUITE : 7
NAME_INCOME_TYPE : 8
NAME_EDUCATION_TYPE : 5
NAME_FAMILY_STATUS : 6
NAME_HOUSING_TYPE : 6
REGION_POPULATION_RELATIVE : 81
DAYS_BIRTH : 17460
DAYS_EMPLOYED : 12574
DAYS_REGISTRATION : 15688
DAYS_ID_PUBLISH : 6168
OWN_CAR_AGE : 62
FLAG_MOBIL : 2
FLAG_EMP_PHONE : 2
FLAG_WORK_PHONE : 2
FLAG_CONT_MOBILE : 2
FLAG_PHONE : 2
FLAG_EMAIL : 2
OCCUPATION_TYPE : 18
CNT_FAM_MEMBERS : 17
REGION_RATING_CLIENT : 3
REGION_RATING_CLIENT_W_CITY : 3
WEEKDAY_APPR_PROCESS_START : 7
HOUR_APPR_PROCESS_START : 24
REG_REGION_NOT_LIVE_REGION : 2
REG_REGION_NOT_WORK_REGION : 2
LIVE_REGION_NOT_WORK_REGION : 2
REG_CITY_NOT_LIVE_CITY : 2
REG_CITY_NOT_WORK_CITY : 2
LIVE_CITY_NOT_WORK_CITY : 2
ORGANIZATION_TYPE : 58
EXT_SOURCE_1 : 114584
EXT_SOURCE_2 : 119831
EXT_SOURCE_3 : 814
APARTMENTS_AVG : 2339
BASEMENTAREA_AVG : 3780
YEARS_BEGINEXPLUATATION_AVG : 285
YEARS_BUILD_AVG : 149
COMMONAREA_AVG : 3181
ELEVATORS_AVG : 257
ENTRANCES_AVG : 285
FLOORSMAX_AVG : 403
FLOORSMIN_AVG : 305
LANDAREA_AVG : 3527
LIVINGAPARTMENTS_AVG : 1868
LIVINGAREA_AVG : 5199
NONLIVINGAPARTMENTS_AVG : 386
NONLIVINGAREA_AVG : 3290
APARTMENTS_MODE : 760
BASEMENTAREA_MODE : 3841
YEARS_BEGINEXPLUATATION_MODE : 221
YEARS_BUILD_MODE : 154
COMMONAREA_MODE : 3128
ELEVATORS_MODE : 26
ENTRANCES_MODE : 30
FLOORSMAX_MODE : 25
FLOORSMIN_MODE : 25
LANDAREA_MODE : 3563
LIVINGAPARTMENTS_MODE : 736
LIVINGAREA_MODE : 5301
NONLIVINGAPARTMENTS_MODE : 167
NONLIVINGAREA_MODE : 3327
APARTMENTS_MEDI : 1148
BASEMENTAREA_MEDI : 3772
YEARS_BEGINEXPLUATATION_MEDI : 245
YEARS_BUILD_MEDI : 151
COMMONAREA_MEDI : 3202
ELEVATORS_MEDI : 46
ENTRANCES_MEDI : 46
FLOORSMAX_MEDI : 49
FLOORSMIN_MEDI : 47
LANDAREA_MEDI : 3560
LIVINGAPARTMENTS_MEDI : 1097
LIVINGAREA_MEDI : 5281
NONLIVINGAPARTMENTS_MEDI : 214
NONLIVINGAREA_MEDI : 3323
FONDKAPREMONT_MODE : 4
HOUSETYPE_MODE : 3
TOTALAREA_MODE : 5116
WALLSMATERIAL_MODE : 7
EMERGENCYSTATE_MODE : 2
OBS_30_CNT_SOCIAL_CIRCLE : 33
DEF_30_CNT_SOCIAL_CIRCLE : 10
OBS_60_CNT_SOCIAL_CIRCLE : 33
DEF_60_CNT_SOCIAL_CIRCLE : 9
DAYS_LAST_PHONE_CHANGE : 3773
FLAG_DOCUMENT_2 : 2
FLAG_DOCUMENT_3 : 2
FLAG_DOCUMENT_4 : 2
FLAG_DOCUMENT_5 : 2
FLAG_DOCUMENT_6 : 2
FLAG_DOCUMENT_7 : 2
FLAG_DOCUMENT_8 : 2
FLAG_DOCUMENT_9 : 2
FLAG_DOCUMENT_10 : 2
FLAG_DOCUMENT_11 : 2
FLAG_DOCUMENT_12 : 2
FLAG_DOCUMENT_13 : 2
FLAG_DOCUMENT_14 : 2
FLAG_DOCUMENT_15 : 2
FLAG_DOCUMENT_16 : 2
FLAG_DOCUMENT_17 : 2
FLAG_DOCUMENT_18 : 2
FLAG_DOCUMENT_19 : 2
FLAG_DOCUMENT_20 : 2
FLAG_DOCUMENT_21 : 2
AMT_REQ_CREDIT_BUREAU_HOUR : 5
AMT_REQ_CREDIT_BUREAU_DAY : 9
AMT_REQ_CREDIT_BUREAU_WEEK : 9
AMT_REQ_CREDIT_BUREAU_MON : 24
AMT_REQ_CREDIT_BUREAU_QRT : 11
AMT_REQ_CREDIT_BUREAU_YEAR : 25

In [9]:
nuniques_pop_prop = nuniques/df.shape[0]
for i in pd.Series.iteritems(nuniques_pop_prop):
    print(i[0],':',i[1])

SK_ID_CURR : 1.0
TARGET : 6.503832383231819e-06
NAME_CONTRACT_TYPE : 6.503832383231819e-06
CODE_GENDER : 9.755748574847729e-06
FLAG_OWN_CAR : 6.503832383231819e-06
FLAG_OWN_REALTY : 6.503832383231819e-06
CNT_CHILDREN : 4.8778742874238645e-05
AMT_INCOME_TOTAL : 0.008285882456237337
AMT_CREDIT : 0.01822048642162394
AMT_ANNUITY : 0.04446019817177272
AMT_GOODS_PRICE : 0.0032584200239991414
NAME_TYPE_SUITE : 2.276341334131137e-05
NAME_INCOME_TYPE : 2.6015329532927276e-05
NAME_EDUCATION_TYPE : 1.6259580958079547e-05
NAME_FAMILY_STATUS : 1.9511497149695458e-05
NAME_HOUSING_TYPE : 1.9511497149695458e-05
REGION_POPULATION_RELATIVE : 0.00026340521152088867
DAYS_BIRTH : 0.05677845670561378
DAYS_EMPLOYED : 0.040889594193378447
DAYS_REGISTRATION : 0.05101606121407039
DAYS_ID_PUBLISH : 0.02005781906988693
OWN_CAR_AGE : 0.0002016188038801864
FLAG_MOBIL : 6.503832383231819e-06
FLAG_EMP_PHONE : 6.503832383231819e-06
FLAG_WORK_PHONE : 6.503832383231819e-06
FLAG_CONT_MOBILE : 6.503832383231819e-06
FLAG_PHONE : 6.503832383231819e-06
FLAG_EMAIL : 6.503832383231819e-06
OCCUPATION_TYPE : 5.8534491449086374e-05
CNT_FAM_MEMBERS : 5.528257525747047e-05
REGION_RATING_CLIENT : 9.755748574847729e-06
REGION_RATING_CLIENT_W_CITY : 9.755748574847729e-06
WEEKDAY_APPR_PROCESS_START : 2.276341334131137e-05
HOUR_APPR_PROCESS_START : 7.804598859878183e-05
REG_REGION_NOT_LIVE_REGION : 6.503832383231819e-06
REG_REGION_NOT_WORK_REGION : 6.503832383231819e-06
LIVE_REGION_NOT_WORK_REGION : 6.503832383231819e-06
REG_CITY_NOT_LIVE_CITY : 6.503832383231819e-06
REG_CITY_NOT_WORK_CITY : 6.503832383231819e-06
LIVE_CITY_NOT_WORK_CITY : 6.503832383231819e-06
ORGANIZATION_TYPE : 0.00018861113911372275
EXT_SOURCE_1 : 0.3726175649001174
EXT_SOURCE_2 : 0.3896803691575261
EXT_SOURCE_3 : 0.0026470597799753506
APARTMENTS_AVG : 0.007606231972189612
BASEMENTAREA_AVG : 0.01229224320430814
YEARS_BEGINEXPLUATATION_AVG : 0.0009267961146105343
YEARS_BUILD_AVG : 0.00048453551255077057
COMMONAREA_AVG : 0.010344345405530208
ELEVATORS_AVG : 0.0008357424612452888
ENTRANCES_AVG : 0.0009267961146105343
FLOORSMAX_AVG : 0.0013105222252212116
FLOORSMIN_AVG : 0.0009918344384428524
LANDAREA_AVG : 0.011469508407829314
LIVINGAPARTMENTS_AVG : 0.006074579445938519
LIVINGAREA_AVG : 0.016906712280211116
NONLIVINGAPARTMENTS_AVG : 0.001255239649963741
NONLIVINGAREA_AVG : 0.010698804270416343
APARTMENTS_MODE : 0.0024714563056280913
BASEMENTAREA_MODE : 0.01249061009199671
YEARS_BEGINEXPLUATATION_MODE : 0.000718673478347116
YEARS_BUILD_MODE : 0.0005007950935088501
COMMONAREA_MODE : 0.010171993847374565
ELEVATORS_MODE : 8.454982098201365e-05
ENTRANCES_MODE : 9.755748574847729e-05
FLOORSMAX_MODE : 8.129790479039775e-05
FLOORSMIN_MODE : 8.129790479039775e-05
LANDAREA_MODE : 0.011586577390727486
LIVINGAPARTMENTS_MODE : 0.0023934103170293094
LIVINGAREA_MODE : 0.017238407731755938
NONLIVINGAPARTMENTS_MODE : 0.000543070003999857
NONLIVINGAREA_MODE : 0.010819125169506132
APARTMENTS_MEDI : 0.0037331997879750645
BASEMENTAREA_MEDI : 0.012266227874775212
YEARS_BEGINEXPLUATATION_MEDI : 0.0007967194669458978
YEARS_BUILD_MEDI : 0.0004910393449340023
COMMONAREA_MEDI : 0.010412635645554143
ELEVATORS_MEDI : 0.00014958814481433184
ENTRANCES_MEDI : 0.00014958814481433184
FLOORSMAX_MEDI : 0.00015934389338917958
FLOORSMIN_MEDI : 0.00015284006100594775
LANDAREA_MEDI : 0.011576821642152638
LIVINGAPARTMENTS_MEDI : 0.003567352062202653
LIVINGAREA_MEDI : 0.01717336940792362
NONLIVINGAPARTMENTS_MEDI : 0.0006959100650058047
NONLIVINGAREA_MEDI : 0.010806117504739667
FONDKAPREMONT_MODE : 1.3007664766463638e-05
HOUSETYPE_MODE : 9.755748574847729e-06
TOTALAREA_MODE : 0.016636803236306993
WALLSMATERIAL_MODE : 2.276341334131137e-05
EMERGENCYSTATE_MODE : 6.503832383231819e-06
OBS_30_CNT_SOCIAL_CIRCLE : 0.00010731323432332502
DEF_30_CNT_SOCIAL_CIRCLE : 3.2519161916159095e-05
OBS_60_CNT_SOCIAL_CIRCLE : 0.00010731323432332502
DEF_60_CNT_SOCIAL_CIRCLE : 2.9267245724543187e-05
DAYS_LAST_PHONE_CHANGE : 0.012269479790966827
FLAG_DOCUMENT_2 : 6.503832383231819e-06
FLAG_DOCUMENT_3 : 6.503832383231819e-06
FLAG_DOCUMENT_4 : 6.503832383231819e-06
FLAG_DOCUMENT_5 : 6.503832383231819e-06
FLAG_DOCUMENT_6 : 6.503832383231819e-06
FLAG_DOCUMENT_7 : 6.503832383231819e-06
FLAG_DOCUMENT_8 : 6.503832383231819e-06
FLAG_DOCUMENT_9 : 6.503832383231819e-06
FLAG_DOCUMENT_10 : 6.503832383231819e-06
FLAG_DOCUMENT_11 : 6.503832383231819e-06
FLAG_DOCUMENT_12 : 6.503832383231819e-06
FLAG_DOCUMENT_13 : 6.503832383231819e-06
FLAG_DOCUMENT_14 : 6.503832383231819e-06
FLAG_DOCUMENT_15 : 6.503832383231819e-06
FLAG_DOCUMENT_16 : 6.503832383231819e-06
FLAG_DOCUMENT_17 : 6.503832383231819e-06
FLAG_DOCUMENT_18 : 6.503832383231819e-06
FLAG_DOCUMENT_19 : 6.503832383231819e-06
FLAG_DOCUMENT_20 : 6.503832383231819e-06
FLAG_DOCUMENT_21 : 6.503832383231819e-06
AMT_REQ_CREDIT_BUREAU_HOUR : 1.6259580958079547e-05
AMT_REQ_CREDIT_BUREAU_DAY : 2.9267245724543187e-05
AMT_REQ_CREDIT_BUREAU_WEEK : 2.9267245724543187e-05
AMT_REQ_CREDIT_BUREAU_MON : 7.804598859878183e-05
AMT_REQ_CREDIT_BUREAU_QRT : 3.577107810777501e-05
AMT_REQ_CREDIT_BUREAU_YEAR : 8.129790479039775e-05

In [16]:
df_sample = df.sample(40000)

In [17]:
nuniques_sample = df_sample.apply(lambda col: col.nunique())

In [18]:
pd.options.display.max_rows = None

In [19]:
dx = pd.DataFrame({'Population nuniques':nuniques,'Sample nuniques':nuniques_sample})
dx

                              Population nuniques  Sample nuniques
SK_ID_CURR                                 307511            40000
TARGET                                          2                2
NAME_CONTRACT_TYPE                              2                2
CODE_GENDER                                     3                2
FLAG_OWN_CAR                                    2                2
FLAG_OWN_REALTY                                 2                2
CNT_CHILDREN                                   15                8
AMT_INCOME_TOTAL                             2548              663
AMT_CREDIT                                   5603             3211
AMT_ANNUITY                                 13672             8181
AMT_GOODS_PRICE                              1002              500
NAME_TYPE_SUITE                                 7                7
NAME_INCOME_TYPE                                8                7
NAME_EDUCATION_TYPE                             5                5
NAME_FAMILY_STATUS                              6                5
NAME_HOUSING_TYPE                               6                6
REGION_POPULATION_RELATIVE                     81               81
DAYS_BIRTH                                  17460            14978
DAYS_EMPLOYED                               12574             7504
DAYS_REGISTRATION                           15688            12061
DAYS_ID_PUBLISH                              6168             5659
OWN_CAR_AGE                                    62               50
FLAG_MOBIL                                      2                1
FLAG_EMP_PHONE                                  2                2
FLAG_WORK_PHONE                                 2                2
FLAG_CONT_MOBILE                                2                2
FLAG_PHONE                                      2                2
FLAG_EMAIL                                      2                2
OCCUPATION_TYPE                                18               18
CNT_FAM_MEMBERS                                17                9
REGION_RATING_CLIENT                            3                3
REGION_RATING_CLIENT_W_CITY                     3                3
WEEKDAY_APPR_PROCESS_START                      7                7
HOUR_APPR_PROCESS_START                        24               24
REG_REGION_NOT_LIVE_REGION                      2                2
REG_REGION_NOT_WORK_REGION                      2                2
LIVE_REGION_NOT_WORK_REGION                     2                2
REG_CITY_NOT_LIVE_CITY                          2                2
REG_CITY_NOT_WORK_CITY                          2                2
LIVE_CITY_NOT_WORK_CITY                         2                2
ORGANIZATION_TYPE                              58               57
EXT_SOURCE_1                               114584            17015
EXT_SOURCE_2                               119831            32666
EXT_SOURCE_3                                  814              712
APARTMENTS_AVG                               2339             1366
BASEMENTAREA_AVG                             3780             2606
YEARS_BEGINEXPLUATATION_AVG                   285              162
YEARS_BUILD_AVG                               149              123
COMMONAREA_AVG                               3181             1824
ELEVATORS_AVG                                 257              161
ENTRANCES_AVG                                 285              171
FLOORSMAX_AVG                                 403              200
FLOORSMIN_AVG                                 305              163
LANDAREA_AVG                                 3527             2344
LIVINGAPARTMENTS_AVG                         1868             1058
LIVINGAREA_AVG                               5199             3531
NONLIVINGAPARTMENTS_AVG                       386              186
NONLIVINGAREA_AVG                            3290             1846
APARTMENTS_MODE                               760              587
BASEMENTAREA_MODE                            3841             2640
YEARS_BEGINEXPLUATATION_MODE                  221              151
YEARS_BUILD_MODE                              154              126
COMMONAREA_MODE                              3128             1788
ELEVATORS_MODE                                 26               25
ENTRANCES_MODE                                 30               30
FLOORSMAX_MODE                                 25               25
FLOORSMIN_MODE                                 25               25
LANDAREA_MODE                                3563             2344
LIVINGAPARTMENTS_MODE                         736              559
LIVINGAREA_MODE                              5301             3537
NONLIVINGAPARTMENTS_MODE                      167               90
NONLIVINGAREA_MODE                           3327             1859
APARTMENTS_MEDI                              1148              858
BASEMENTAREA_MEDI                            3772             2597
YEARS_BEGINEXPLUATATION_MEDI                  245              156
YEARS_BUILD_MEDI                              151              124
COMMONAREA_MEDI                              3202             1827
ELEVATORS_MEDI                                 46               42
ENTRANCES_MEDI                                 46               45
FLOORSMAX_MEDI                                 49               44
FLOORSMIN_MEDI                                 47               44
LANDAREA_MEDI                                3560             2369
LIVINGAPARTMENTS_MEDI                        1097              769
LIVINGAREA_MEDI                              5281             3578
NONLIVINGAPARTMENTS_MEDI                      214              115
NONLIVINGAREA_MEDI                           3323             1860
FONDKAPREMONT_MODE                              4                4
HOUSETYPE_MODE                                  3                3
TOTALAREA_MODE                               5116             3514
WALLSMATERIAL_MODE                              7                7
EMERGENCYSTATE_MODE                             2                2
OBS_30_CNT_SOCIAL_CIRCLE                       33               25
DEF_30_CNT_SOCIAL_CIRCLE                       10                9
OBS_60_CNT_SOCIAL_CIRCLE                       33               25
DEF_60_CNT_SOCIAL_CIRCLE                        9                8
DAYS_LAST_PHONE_CHANGE                       3773             3332
FLAG_DOCUMENT_2                                 2                1
FLAG_DOCUMENT_3                                 2                2
FLAG_DOCUMENT_4                                 2                2
FLAG_DOCUMENT_5                                 2                2
FLAG_DOCUMENT_6                                 2                2
FLAG_DOCUMENT_7                                 2                2
FLAG_DOCUMENT_8                                 2                2
FLAG_DOCUMENT_9                                 2                2
FLAG_DOCUMENT_10                                2                2
FLAG_DOCUMENT_11                                2                2
FLAG_DOCUMENT_12                                2                1
FLAG_DOCUMENT_13                                2                2
FLAG_DOCUMENT_14                                2                2
FLAG_DOCUMENT_15                                2                2
FLAG_DOCUMENT_16                                2                2
FLAG_DOCUMENT_17                                2                2
FLAG_DOCUMENT_18                                2                2
FLAG_DOCUMENT_19                                2                2
FLAG_DOCUMENT_20                                2                2
FLAG_DOCUMENT_21                                2                2
AMT_REQ_CREDIT_BUREAU_HOUR                      5                4
AMT_REQ_CREDIT_BUREAU_DAY                       9                6
AMT_REQ_CREDIT_BUREAU_WEEK                      9                8
AMT_REQ_CREDIT_BUREAU_MON                      24               18
AMT_REQ_CREDIT_BUREAU_QRT                      11                7
AMT_REQ_CREDIT_BUREAU_YEAR                     25               18

### Checking Population and Sample Proportions

In [20]:
df['TARGET'].value_counts(normalize=True)*100

0    91.927118
1     8.072882
Name: TARGET, dtype: float64

In [21]:
df_sample['TARGET'].value_counts(normalize=True)*100

0    91.935
1     8.065
Name: TARGET, dtype: float64

In [22]:
df['CODE_GENDER'].value_counts(normalize=True)*100 #categorical

F      65.834393
M      34.164306
XNA     0.001301
Name: CODE_GENDER, dtype: float64

In [23]:
df_sample['CODE_GENDER'].value_counts(normalize=True)*100 #categorical

F    65.86
M    34.14
Name: CODE_GENDER, dtype: float64

In [24]:
pd.crosstab(df['TARGET'],df['CODE_GENDER'],normalize=True)

CODE_GENDER         F         M       XNA
TARGET
0            0.612264  0.306994  0.000013
1            0.046080  0.034649  0.000000

In [25]:
pd.crosstab(df_sample['TARGET'],df_sample['CODE_GENDER'],normalize=True)

CODE_GENDER        F       M
TARGET
0            0.61325  0.3061
1            0.04535  0.0353

In [35]:
df['CNT_CHILDREN'].value_counts(normalize=True)*100 #numerical

0     70.036844
1     19.875387
2      8.698551
3      1.208737
4      0.139507
5      0.027316
6      0.006829
7      0.002276
14     0.000976
8      0.000650
9      0.000650
10     0.000650
12     0.000650
19     0.000650
11     0.000325
Name: CNT_CHILDREN, dtype: float64

In [56]:
df_sample['CNT_CHILDREN'].value_counts(normalize=True)*100 #numerical

0     69.9375
1     19.9250
2      8.7575
3      1.2075
4      0.1375
5      0.0250
6      0.0050
7      0.0025
10     0.0025
Name: CNT_CHILDREN, dtype: float64

In [36]:
df['REGION_POPULATION_RELATIVE'].value_counts(normalize=True)*100 #numerical

0.035792    5.335744
0.046220    4.371226
0.030755    3.955306
0.025164    3.886040
0.026392    3.772548
0.031329    3.681494
0.028663    3.628163
0.019101    2.827216
0.072508    2.735512
0.020713    2.622996
0.018850    2.493569
0.020246    2.334225
0.018634    2.288699
0.022625    2.257805
0.015221    2.219108
0.032561    2.157972
0.024610    2.082527
0.019689    2.007083
0.018029    2.005457
0.018801    1.986270
0.018209    1.968060
0.014520    1.556042
0.016612    1.433445
0.007020    1.334912
0.022800    1.238004
0.010032    1.160934
0.010006    1.158658
0.014464    1.112806
0.004960    1.073132
0.011703    1.057523
0.010966    1.011346
0.011657    1.001590
0.010147    1.001265
0.010643    0.979477
0.007330    0.969071
0.007120    0.930373
0.006629    0.916390
0.009175    0.900781
0.010500    0.871514
0.010276    0.845823
0.009657    0.802248
0.006852    0.791842
0.008625    0.744689
0.009630    0.732332
0.010556    0.707942
0.009334    0.677374
0.007305    0.655911
0.006207    0.629571
0.009549    0.596401
0.008019    0.591524
0.008230    0.586646
0.006008    0.584044
0.003069    0.579817
0.008575    0.573313
0.008474    0.565833
0.007274    0.560630
0.007114    0.547623
0.006305    0.543720
0.008068    0.542420
0.008866    0.537867
0.006671    0.537542
0.002042    0.533965
0.003813    0.525510
0.005084    0.481934
0.006296    0.398360
0.005313    0.396083
0.003818    0.394132
0.003122    0.372995
0.006233    0.353483
0.005002    0.347305
0.002134    0.341776
0.004849    0.337549
0.005144    0.314460
0.002506    0.306981
0.003541    0.203895
0.001276    0.181457
0.001417    0.151864
0.001333    0.076420
0.000533    0.012682
0.000938    0.009105
0.000290    0.000650
Name: REGION_POPULATION_RELATIVE, dtype: float64

In [57]:
df_sample['REGION_POPULATION_RELATIVE'].value_counts(normalize=True)*100 #numerical

0.035792    5.5525
0.046220    4.4675
0.025164    3.9150
0.030755    3.9125
0.028663    3.7275
0.026392    3.7225
0.031329    3.6825
0.019101    2.8400
0.020713    2.6475
0.072508    2.5700
0.018850    2.4850
0.020246    2.3600
0.018634    2.2350
0.022625    2.1800
0.015221    2.1225
0.032561    2.0550
0.024610    2.0500
0.019689    2.0250
0.018801    1.9750
0.018209    1.8925
0.018029    1.8675
0.014520    1.6475
0.016612    1.4425
0.007020    1.3300
0.022800    1.2050
0.010032    1.2025
0.011703    1.1875
0.010006    1.1725
0.004960    1.1250
0.010147    1.1225
0.014464    1.0950
0.007120    1.0350
0.010966    1.0325
0.007330    1.0225
0.011657    1.0025
0.006629    0.9850
0.010643    0.9250
0.009175    0.8925
0.009630    0.8350
0.010276    0.8225
0.006852    0.7950
0.010500    0.7825
0.009657    0.7725
0.010556    0.7225
0.008625    0.7175
0.009334    0.6500
0.006207    0.6400
0.002042    0.6225
0.007305    0.6175
0.008575    0.6100
0.008230    0.5800
0.006008    0.5775
0.008019    0.5750
0.003813    0.5600
0.003069    0.5525
0.009549    0.5525
0.006305    0.5500
0.006671    0.5350
0.007114    0.5225
0.008866    0.5225
0.007274    0.5200
0.008068    0.5125
0.005084    0.4875
0.008474    0.4850
0.003818    0.4325
0.006296    0.4200
0.005313    0.3950
0.006233    0.3550
0.005144    0.3475
0.003122    0.3400
0.005002    0.3325
0.004849    0.3175
0.002134    0.3175
0.002506    0.2775
0.003541    0.2275
0.001417    0.1575
0.001276    0.1550
0.001333    0.0700
0.000938    0.0150
0.000533    0.0100
Name: REGION_POPULATION_RELATIVE, dtype: float64

In [37]:
df['OWN_CAR_AGE'].value_counts(normalize=True)*100 #numerical

7.0     7.098736
6.0     6.102389
3.0     6.090914
8.0     5.629076
2.0     5.595609
4.0     5.313534
1.0     5.048670
9.0     4.800061
10.0    4.595437
14.0    4.392725
13.0    4.365952
12.0    4.070490
11.0    3.978696
5.0     3.437494
15.0    3.423151
16.0    3.208009
17.0    2.771988
64.0    2.335966
18.0    2.312061
0.0     2.040504
19.0    1.782333
20.0    1.460098
21.0    1.397946
22.0    1.195234
24.0    1.099616
23.0    1.020252
65.0    0.851963
25.0    0.827102
26.0    0.554589
28.0    0.518254
27.0    0.461839
29.0    0.379606
30.0    0.311717
31.0    0.255302
32.0    0.198887
34.0    0.174982
35.0    0.150121
33.0    0.126217
36.0    0.118567
38.0    0.092750
40.0    0.081276
39.0    0.074583
37.0    0.071714
41.0    0.055459
42.0    0.040160
44.0    0.020080
43.0    0.018168
54.0    0.011474
45.0    0.010518
49.0    0.005737
46.0    0.004781
55.0    0.003825
51.0    0.002869
63.0    0.001912
91.0    0.001912
57.0    0.000956
48.0    0.000956
50.0    0.000956
47.0    0.000956
52.0    0.000956
69.0    0.000956
56.0    0.000956
Name: OWN_CAR_AGE, dtype: float64

In [38]:
df['FLAG_MOBIL'].value_counts(normalize=True)*100 #binary

1    99.999675
0     0.000325
Name: FLAG_MOBIL, dtype: float64

In [39]:
df['CNT_FAM_MEMBERS'].value_counts(normalize=True)*100 #numerical

2.0     51.496704
1.0     22.063419
3.0     17.105516
4.0      8.031310
5.0      1.131024
6.0      0.132679
7.0      0.026341
8.0      0.006504
9.0      0.001951
10.0     0.000976
16.0     0.000650
14.0     0.000650
20.0     0.000650
12.0     0.000650
15.0     0.000325
11.0     0.000325
13.0     0.000325
Name: CNT_FAM_MEMBERS, dtype: float64

In [40]:
df['ORGANIZATION_TYPE'].value_counts(normalize=True)*100 #categorical

Business Entity Type 3    22.110429
XNA                       18.007161
Self-employed             12.491260
Other                      5.425172
Medicine                   3.639870
Business Entity Type 2     3.431747
Government                 3.383294
School                     2.891929
Trade: type 7              2.546576
Kindergarten               2.237318
Construction               2.185613
Business Entity Type 1     1.945947
Transport: type 4          1.755384
Trade: type 3              1.135569
Industry: type 9           1.095245
Industry: type 3           1.065978
Security                   1.055897
Housing                    0.961917
Industry: type 11          0.879318
Military                   0.856555
Bank                       0.815255
Agriculture                0.798020
Police                     0.761274
Transport: type 2          0.716722
Postal                     0.701438
Security Ministries        0.641928
Trade: type 2              0.617864
Restaurant                 0.588922
Services                   0.512177
University                 0.431529
Industry: type 7           0.425025
Transport: type 3          0.386002
Industry: type 1           0.337874
Hotel                      0.314135
Electricity                0.308932
Industry: type 4           0.285193
Trade: type 6              0.205196
Industry: type 5           0.194790
Insurance                  0.194139
Telecom                    0.187636
Emergency                  0.182107
Industry: type 2           0.148938
Advertising                0.139507
Realtor                    0.128776
Culture                    0.123248
Industry: type 12          0.119996
Trade: type 1              0.113167
Mobile                     0.103086
Legal Services             0.099183
Cleaning                   0.084550
Transport: type 1          0.065364
Industry: type 6           0.036421
Industry: type 10          0.035446
Religion                   0.027641
Industry: type 13          0.021788
Trade: type 4              0.020812
Trade: type 5              0.015934
Industry: type 8           0.007805
Name: ORGANIZATION_TYPE, dtype: float64

In [41]:
df['FLOORSMIN_MODE'].value_counts(normalize=True)*100 #numerical

0.2083    34.796549
0.3750    19.259829
0.0417    19.133399
0.0833     5.410189
0.4167     4.151959
0.1667     3.677594
0.1250     3.206263
0.0000     2.545793
0.5000     1.910609
0.6667     1.278459
0.7083     1.156075
0.5833     1.063023
0.2500     0.780831
0.2917     0.363107
0.3333     0.323661
0.6250     0.209368
1.0000     0.142613
0.5417     0.141602
0.9167     0.132499
0.4583     0.106201
0.7500     0.100132
0.7917     0.061698
0.8333     0.022252
0.9583     0.017194
0.8750     0.009103
Name: FLOORSMIN_MODE, dtype: float64

In [42]:
df['OBS_30_CNT_SOCIAL_CIRCLE'].value_counts(normalize=True)*100 #numerical

0.0      53.479722
1.0      15.916669
2.0       9.725603
3.0       6.630559
4.0       4.614506
5.0       3.116904
6.0       2.105452
7.0       1.432347
8.0       0.968058
9.0       0.653529
10.0      0.448954
11.0      0.277986
12.0      0.212731
13.0      0.134099
14.0      0.084179
15.0      0.054162
16.0      0.043395
17.0      0.028712
18.0      0.015009
19.0      0.014356
20.0      0.009788
21.0      0.009462
22.0      0.007178
23.0      0.004894
24.0      0.003589
25.0      0.003589
27.0      0.001631
26.0      0.000979
30.0      0.000653
348.0     0.000326
28.0      0.000326
47.0      0.000326
29.0      0.000326
Name: OBS_30_CNT_SOCIAL_CIRCLE, dtype: float64

In [44]:
df['DEF_30_CNT_SOCIAL_CIRCLE'].value_counts(normalize=True)*100 #numerical

0.0     88.526216
1.0      9.242716
2.0      1.736761
3.0      0.388920
4.0      0.082548
5.0      0.018271
6.0      0.003589
8.0      0.000326
7.0      0.000326
34.0     0.000326
Name: DEF_30_CNT_SOCIAL_CIRCLE, dtype: float64

In [45]:
df['OBS_60_CNT_SOCIAL_CIRCLE'].value_counts(normalize=True)*100 #numerical

0.0      53.726386
1.0      15.945055
2.0       9.711899
3.0       6.595647
4.0       4.550230
5.0       3.087540
6.0       2.071519
7.0       1.417338
8.0       0.941629
9.0       0.639173
10.0      0.435577
11.0      0.273092
12.0      0.202290
13.0      0.130836
14.0      0.077653
15.0      0.054162
16.0      0.044700
17.0      0.023818
18.0      0.015987
19.0      0.014356
20.0      0.009788
21.0      0.009136
22.0      0.006525
23.0      0.004242
24.0      0.003915
25.0      0.003589
27.0      0.001631
29.0      0.000653
26.0      0.000326
28.0      0.000326
344.0     0.000326
47.0      0.000326
30.0      0.000326
Name: OBS_60_CNT_SOCIAL_CIRCLE, dtype: float64

In [46]:
df['DEF_60_CNT_SOCIAL_CIRCLE'].value_counts(normalize=True)*100 #numerical

0.0     91.592222
1.0      7.126171
2.0      1.034291
3.0      0.195112
4.0      0.044047
5.0      0.006525
6.0      0.000979
7.0      0.000326
24.0     0.000326
Name: DEF_60_CNT_SOCIAL_CIRCLE, dtype: float64

In [47]:
df['FLAG_DOCUMENT_12'].value_counts(normalize=True)*100 #numerical

0    99.99935
1     0.00065
Name: FLAG_DOCUMENT_12, dtype: float64

In [49]:
df['AMT_REQ_CREDIT_BUREAU_HOUR'].value_counts(normalize=True)*100 #numerical

0.0    99.388703
1.0     0.586484
2.0     0.021053
3.0     0.003384
4.0     0.000376
Name: AMT_REQ_CREDIT_BUREAU_HOUR, dtype: float64

In [50]:
df['AMT_REQ_CREDIT_BUREAU_DAY'].value_counts(normalize=True)*100 #numerical

0.0    99.440209
1.0     0.485729
2.0     0.039851
3.0     0.016918
4.0     0.009775
5.0     0.003384
6.0     0.003008
9.0     0.000752
8.0     0.000376
Name: AMT_REQ_CREDIT_BUREAU_DAY, dtype: float64

In [51]:
df['AMT_REQ_CREDIT_BUREAU_WEEK'].value_counts(normalize=True)*100 #numerical

0.0    96.790881
1.0     3.085807
2.0     0.074814
3.0     0.021805
4.0     0.012782
6.0     0.007519
5.0     0.003760
8.0     0.001880
7.0     0.000752
Name: AMT_REQ_CREDIT_BUREAU_WEEK, dtype: float64

In [52]:
df['AMT_REQ_CREDIT_BUREAU_MON'].value_counts(normalize=True)*100 #numerical

0.0     83.548753
1.0     12.461653
2.0      2.024873
3.0      0.748519
4.0      0.404523
5.0      0.226323
6.0      0.128951
7.0      0.112033
9.0      0.077446
8.0      0.069551
10.0     0.049626
11.0     0.044738
12.0     0.028948
13.0     0.027068
14.0     0.015038
15.0     0.013158
16.0     0.008647
17.0     0.005263
18.0     0.002256
19.0     0.001128
27.0     0.000376
22.0     0.000376
23.0     0.000376
24.0     0.000376
Name: AMT_REQ_CREDIT_BUREAU_MON, dtype: float64

In [53]:
df['AMT_REQ_CREDIT_BUREAU_QRT'].value_counts(normalize=True)*100 #numerical

0.0      80.986270
1.0      12.730458
2.0       5.418208
3.0       0.645508
4.0       0.178953
5.0       0.024061
6.0       0.010527
8.0       0.002632
7.0       0.002632
19.0      0.000376
261.0     0.000376
Name: AMT_REQ_CREDIT_BUREAU_QRT, dtype: float64

In [54]:
df['AMT_REQ_CREDIT_BUREAU_YEAR'].value_counts(normalize=True)*100 #numerical

0.0     26.993669
1.0     23.837183
2.0     18.869740
3.0     12.642485
4.0      7.787452
5.0      4.530963
6.0      2.619252
7.0      1.454555
8.0      0.799648
9.0      0.412042
11.0     0.011654
12.0     0.011279
10.0     0.008271
13.0     0.007143
14.0     0.003760
17.0     0.002632
15.0     0.002256
18.0     0.001504
19.0     0.001504
16.0     0.001128
25.0     0.000376
21.0     0.000376
22.0     0.000376
20.0     0.000376
23.0     0.000376
Name: AMT_REQ_CREDIT_BUREAU_YEAR, dtype: float64

In [66]:
df_sample.to_csv('application_train_40k.csv')